.card8{
    position: absolute;
    top: 149px;
    left: 665px;
    width: 600px;
    height: 639px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}