.card1{
    position: absolute;
    top: 149px;
    left: 648px;
    width: 625px;
    height: 707px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}